<!DOCTYPE html>
<html lang="en" ng-app="products">
<head>
  <meta charset="UTF-8">
  <title>Product Factory</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script src='bower_components/angular/angular.js'></script>
  <script type="application/javascript">
    let productApp = angular.module('products', []);
    productApp.controller('productsController', ['$scope', 'productFactory',function ($scope, productFactory) {
        this.new_product = {};
        this.productList = productFactory.products;


        this.controllerAdd = function () {
            productFactory.addProduct(this.new_product);
            this.new_product = {};
        };
        this.controllerRemove = function (index) {
            productFactory.removeProduct(index);
        };

    }]);

    productApp.controller('orderController', ['$scope', 'productFactory', function ($scope, productFactory) {

    }]);

    productApp.factory('productFactory', function () {
        let factory = {};
        factory.products = [{name:'Keyboard', price: 149.99},
            {name:'Mouse', price: 59.99},
            {name:'Basketball', price: 21.99}];
        factory.addProduct = function (productObj) {
            if(productObj.name > '' && productObj.price > ''){
                productObj.price = parseFloat(productObj.price);
                factory.products.push(productObj);
            } else if (productObj.name > '' && productObj.price < ''){

            }
        };
        factory.removeProduct = function (productIndex) {
            factory.products.splice(productIndex, 1);
        };
        return factory;

    });
  </script>
</head>
<body ng-controller="productsController as PC">
<div class="container">
  <h4 class="center">Product Controller</h4>
  <div class="row">
    <div class="col s3"></div>
    <form name="form" class="col s6">
      <label for="product_name">Enter a Product Name</label>
      <input type="text" placeholder="Name" id="product_name" name="name" ng-model="PC.new_product.name" required="">

      <div ng-show="form.$submitted || form.name.$touched">
        <span class="red-text" ng-show="form.name.$error.required">Product Name Required</span>
      </div>

      <label for="product_price">Enter a Product Price</label>
      <input type="number" name="price" placeholder="Number Only" id="product_price" ng-model="PC.new_product.price" required="" min="0.01">
      <div ng-show="form.$submitted || form.price.$touched">
        <span class="red-text" ng-show="form.price.$error.required">Minimum price of $0.01 required</span>
      </div>

      <button class="btn-flat" ng-click="PC.controllerAdd()">Add Product</button>
    </form>
  </div>
  <div class="row">
    <div class="col s3" ></div>
    <div class="col s6 center">
      <div class="card black-text">
        <div class="card-title">Order By</div>
        <div class="card-content">
          <input ng-model="reversed" value="true" type="checkbox" id="reverse">
          <label for="reverse">Reverse Order</label>
          <input ng-model="productOrder" value="name" name="ordering" type="radio" id="name">
          <label for="name">Name</label>
          <input ng-model="productOrder" value="price" name="ordering" type="radio" id="price">
          <label for="price">Price</label>
          <input ng-model="productOrder" value="$index" name="ordering" type="radio" id="none">
          <label for="none">None</label>
        </div>
      </div>
      <table class="centered">
        <thead>
        <tr>
          <th>Product Name</th>
          <th>Product Price</th>
        </tr>
        </thead>
        <tbody ng-if="reversed">
        <tr ng-repeat="product in PC.productList | orderBy:'-'+productOrder">
          <td>{{product.name}}</td>
          <td>{{product.price | currency}}</td>
        </tr>
        </tbody>
        <tbody ng-if="!reversed">
        <tr ng-repeat="product in PC.productList | orderBy:productOrder">
          <td>{{product.name}}</td>
          <td>{{product.price | currency}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>